/* 全局样式表 */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
/* 导入图标样式 */
@import url(./iconfont.css);
#app {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.number {
  /* color: red; */
  font-size: 22px !important;
}
/* 富文本编辑器 */
.ql-editor {
  height: 300px !important;
  font-size: 20px !important;
}
